<h1>INR Traker</h1>

<h2>Médicament</h2>

<div class="row">
    <div class="col" *ngFor="let drug of lastIntakes">
        <div class="card m-3">
            <h3 class="card-header">{{drug.label}}</h3>
            <div class="card-body">
                <p class="card-text text-success" *ngIf="nextIntake(drug) <= dt"><strong>Prise autorisée</strong></p>
                <div *ngIf="nextIntake(drug) > dt">
                    <p class="card-text text-warning">
                        <strong>Prochaine prise autorisée : {{nextIntake(drug)}}</strong>
                    </p>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success" title="Ajouter une prise" (click)="addIntake(drug.id)"
                        [ngClass]="{'btn-warning': nextIntake(drug) > dt,
                                'btn-success': nextIntake(drug) <= dt}">
                        <i class="material-icons">healing</i>
                    </button>
                    <a class="btn btn-secondary" [routerLink]="['/intake-list', drug.id]"
                        title="Voir la liste des prises"><i class="material-icons">reorder</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<h2>Suivi de l'INR</h2>

<div echarts [options]="inrGraphOptions" [merge]= "inrGraphUpdateOptions" class="demo-chart"></div>

<div class="text-end" style="width: 100%;">
    <a class="btn btn-secondary" [routerLink]="['/measure-list']" title="Voir la liste des mesures"><i
            class="material-icons">reorder</i></a>
</div>

<div *ngIf="!production">
    <hr />
    <div class="row">
        <div class="col">
            <pre>lastIntakes : {{lastIntakes | json}}</pre>
            <pre>inrGraphUpdateOptions : {{inrGraphUpdateOptions | json}}</pre>
        </div>
        <div class="col">
            <pre>inrGraphOptions : {{inrGraphOptions | json}}</pre>
        </div>
    </div>
</div>