<main>
    <div class="container my-md-3 p-3 rounded okeanos-main-container">
        <div class="row">
            <div class="col-md-12">
                <div class="pt-5 px-auto text-center">
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <p class="error-details">Désolé, une erreur est survenue, la page que vous cherchez est introuvable !</p>
                    <a class="btn btn-primary m-3" href="./">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="material-icons me-1">arrow_back</span>
                            <span>Retour au site</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>